# compiled output
**/__pycache__/
build/
**/dist/

# dependencies
**/node_modules/

# IDEs and editors
.idea/

# misc
**/.git*
*.spec
screenshots/
README.md

# runtime data
data/*
!data/config.example.ini
!data/emoticons/
data/emoticons/*
!data/emoticons/.gitkeep
log/*
