yt-live-chat-text-message-renderer {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  padding: 4px 24px;
}

yt-live-chat-text-message-renderer #content {
  -ms-align-self: center;
  -webkit-align-self: center;
  align-self: center;
  overflow: hidden;
}

yt-live-chat-text-message-renderer #timestamp {
  display: none;
  margin-right: 8px;
}

yt-live-chat-text-message-renderer #author-name {
  margin-right: 8px;
  font-weight: 500;
}

yt-live-chat-text-message-renderer #author-photo {
  display: inline-block;
  background-color: transparent;
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
}

yt-live-chat-text-message-renderer #author-badges {
  vertical-align: text-bottom;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}

yt-live-chat-text-message-renderer #message {
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  word-wrap: break-word;
}

yt-live-chat-author-badge-renderer {
  display: block;
  width: 16px;
  height: 16px;
  background-color: currentColor;
  margin-right: 4px;
  border-radius: 16px;
}

yt-live-chat-legacy-paid-message-renderer {
  position: relative;
  overflow: hidden;
  margin: 8px 24px;
  padding: 8px 16px;
  background-color: #0f9d58;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  min-height: 40px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

yt-live-chat-legacy-paid-message-renderer #author-photo {
  background-color: transparent;
  margin-right: 16px;
  overflow: hidden;
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
  -ms-align-self: flex-start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

yt-live-chat-legacy-paid-message-renderer #content {
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
}

yt-live-chat-legacy-paid-message-renderer #event-text {
  font-weight: 500;
}

yt-live-chat-legacy-paid-message-renderer #detail-text {
  word-wrap: break-word;
}

yt-live-chat-paid-message-renderer {
  position: relative;
  border-radius: 4px;
  margin: 8px 24px;
  font-size: 15px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

yt-live-chat-paid-message-renderer #header {
  position: relative;
  font-weight: 500;
  padding: 8px 16px;
  min-height: 20px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

yt-live-chat-paid-message-renderer #header-content {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
}

yt-live-chat-paid-message-renderer #author-photo {
  background-color: transparent;
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
}

yt-live-chat-paid-message-renderer #author-name {
  font-size: 14px;
}

yt-live-chat-paid-message-renderer #content {
  padding: 4px 16px 8px 16px;
  word-wrap: break-word;
  word-break: break-word;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

yt-live-chat-ticker-paid-message-item-renderer {
  display: inline-block;
  height: 24px;
  border-radius: 200px;
  padding: 4px;
}

yt-live-chat-ticker-paid-message-item-renderer #content {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 4px;
}

yt-live-chat-ticker-paid-message-item-renderer #fake-avatar {
  display: inline-block;
  background-color: red;
  width: 24px;
  height: 24px;
  margin-right: 4px;
  border-radius: 24px;

}
